{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %} {{ post.name }} | {% endblock %}
{% block container %}
<!-- POST -->
<div class="container">
    <div class="row pt-5">
        <div class="col-xl"></div>
        <div class="col-xl-8 text-center">
            <h2>{{ post.name }}</h2>
            <h5>{{ post.resume }}</h5>
            <p class="text-muted mt-4">
                <small>
                    {{ post.author|title }} | {{ post.date }} | {{ post.category }}
                </small>
            </p>
        </div>
        <div class="col-xl"></div>
    </div>

    <div class="row pt-5">
        <div class="col-xl"></div>
        <div class="col-xl-8">
            {% if post.image %}
            <img class="img-fluid pb-5 " src="{{ post.image.url }}" alt="{{ post.name }}">
            {% endif %}
            {{ post.description|safe }}            
        </div>
        <div class="col-xl"></div>
    </div>

    {% if comments %}
    <div class="row pt-5">
        <div class="col-xl"></div>
        <div class="col-xl-8">
            <h2 class="my-3">Comentários ({{ comments.count }})</h2>
            {% for comment in comments %}
            <h5 class="mb-2 mt-5">{{ comment.name }}:</h5>
            <small class="text-muted">{{ comment.date }}</small>
            <p class="mb-1">
                {{ comment.comment }}
            </p>
            {% endfor %}
        </div>
        <div class="col-xl"></div>
    </div>
    {% endif %}

    <div class="row pt-5">
        <div class="col-xl"></div>
        <div class="col-xl-8">
            <h2 class="my-3">Deixe um comentário</h2>
            <form method="POST" action="#envia_comentario">
                {% csrf_token %}

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}
    
                {% for visible_field in form.visible_fields %}
                    {{ visible_field | as_crispy_field }}
                {% endfor %}

                <div class="g-recaptcha mb-4" data-sitekey="SUA CHAVE FRONT END AQUI-"></div>

                {% include 'inc/_messages.html' %}
                <input id="envia_comentario" type="submit" class="btn btn-primary" value="Enviar">
            </form>
        </div>
        <div class="col-xl"></div>
    </div>
</div>
<!-- POST -->                
{% endblock %}